In [1]:
# 3rd party imports
import os
import pandas as pd
import seaborn as sns
from datetime import datetime
import matplotlib.pylab as plt

# Configure Notebook
%matplotlib inline
plt.style.use('fivethirtyeight')
sns.set_context("notebook")
import warnings
warnings.filterwarnings('ignore')

In [2]:
last24 = pd.read_csv('toronto_listings.csv').iloc[:, -25:-1]
last24.head()

,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,first_review,...,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
0,t,0,0,0,0,2021-12-06,7,0,0,2015-07-19,...,5.00,5.00,5.00,5.00,NaN,f,1,1,0,0
1,t,30,60,90,365,2021-12-06,169,0,0,2012-09-05,...,4.87,4.90,4.92,4.83,NaN,t,2,1,1,0
2,t,30,60,90,365,2021-12-06,217,0,0,2011-08-22,...,4.90,4.93,4.34,4.73,NaN,t,2,0,2,0
3,t,0,0,5,280,2021-12-06,26,0,0,2011-08-09,...,5.00,5.00,4.82,4.82,NaN,f,1,1,0,0
4,t,30,60,90,365,2021-12-06,1,0,0,2010-08-11,...,NaN,NaN,NaN,NaN,NaN,f,2,1,1,0

In [7]:
last24.isnull().sum()

has_availability                                    0
availability_30                                     0
availability_60                                     0
availability_90                                     0
availability_365                                    0
calendar_last_scraped                               0
number_of_reviews                                   0
number_of_reviews_ltm                               0
number_of_reviews_l30d                              0
first_review                                     3486
last_review                                      3486
review_scores_rating                             3486
review_scores_accuracy                           3653
review_scores_cleanliness                        3651
review_scores_checkin                            3654
review_scores_communication                      3654
review_scores_location                           3655
review_scores_value                              3654
license                                         10204
instant_bookable                                    0
calculated_host_listings_count                      0
calculated_host_listings_count_entire_homes         0
calculated_host_listings_count_private_rooms        0
calculated_host_listings_count_shared_rooms         0
dtype: int64

In [9]:
last24.shape

(15261, 24)

In [6]:
last24[last24['availability_30'].isnull()]

Empty DataFrame
Columns: [has_availability, availability_30, availability_60, availability_90, availability_365, calendar_last_scraped, number_of_reviews, number_of_reviews_ltm, number_of_reviews_l30d, first_review, last_review, review_scores_rating, review_scores_accuracy, review_scores_cleanliness, review_scores_checkin, review_scores_communication, review_scores_location, review_scores_value, license, instant_bookable, calculated_host_listings_count, calculated_host_listings_count_entire_homes, calculated_host_listings_count_private_rooms, calculated_host_listings_count_shared_rooms]
Index: []

[0 rows x 24 columns]

In [8]:
last24['review_scores_rating'].unique()

array([5.  , 4.84, 4.75, 4.92, 4.63, 4.71,  nan, 4.97, 4.11, 4.  , 4.17,
       4.13, 4.27, 4.62, 4.88, 4.58, 4.5 , 4.86, 4.78, 4.33, 4.6 , 4.96,
       4.89, 4.82, 4.72, 4.44, 4.85, 4.7 , 4.65, 4.91, 4.59, 4.94, 4.29,
       4.56, 4.77, 4.83, 4.16, 4.61, 3.6 , 4.57, 4.68, 4.73, 4.95, 3.8 ,
       4.76, 4.38, 4.67, 4.22, 4.69, 4.93, 4.81, 4.55, 4.25, 4.9 , 4.45,
       4.74, 4.8 , 4.24, 3.  , 4.46, 4.52, 4.34, 4.54, 4.64, 4.87, 4.48,
       4.31, 0.  , 4.4 , 3.75, 4.3 , 4.18, 4.51, 4.53, 4.98, 4.43, 4.14,
       4.49, 1.  , 4.35, 4.79, 4.42, 4.21, 4.04, 4.2 , 4.28, 3.5 , 4.41,
       3.83, 4.09, 4.66, 4.19, 4.37, 3.33, 3.56, 4.47, 3.25, 3.2 , 2.67,
       4.1 , 3.89, 4.99, 4.39, 2.  , 2.75, 3.86, 4.15, 3.4 , 4.12, 4.32,
       4.36, 4.05, 3.43, 3.91, 3.95, 4.07, 3.67, 4.06, 3.93, 4.26, 2.5 ,
       2.86, 2.33, 4.23, 3.57, 4.08, 3.71, 3.92, 3.3 , 3.9 , 3.38, 1.5 ,
       4.03, 2.6 , 3.78, 3.81, 3.64, 3.29, 3.7 ])

In [8]:
last24.describe()

,availability_30,availability_60,availability_90,availability_365,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms
count,15261.000000,15261.000000,15261.000000,15261.000000,15261.000000,15261.000000,15261.000000,11775.000000,11608.000000,11610.000000,11607.000000,11607.000000,11606.000000,11607.000000,15261.000000,15261.000000,15261.000000,15261.000000
mean,8.993185,22.387982,37.370814,131.505799,26.238320,4.198545,0.510058,4.648658,4.769723,4.670465,4.828890,4.829864,4.818900,4.682635,5.178101,3.613132,1.418845,0.127908
std,11.488040,23.658807,36.456713,134.985795,53.502878,11.237775,1.456483,0.723385,0.452021,0.521967,0.403051,0.422248,0.353664,0.476941,13.103014,12.776483,3.384886,1.710470
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,4.630000,4.740000,4.580000,4.820000,4.830000,4.780000,4.610000,1.000000,0.000000,0.000000,0.000000
50%,2.000000,14.000000,33.000000,87.000000,5.000000,0.000000,0.000000,4.840000,4.910000,4.830000,4.960000,4.970000,4.930000,4.800000,1.000000,1.000000,0.000000,0.000000
75%,18.000000,45.000000,74.000000,251.000000,26.000000,3.000000,0.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,4.970000,4.000000,2.000000,1.000000,0.000000
max,30.000000,60.000000,90.000000,365.000000,828.000000,188.000000,17.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,123.000000,123.000000,29.000000,34.000000

In [14]:
last24['has_availability'].unique()

array(['t', 'f'], dtype=object)

In [17]:
last24_with_availability = last24[last24['has_availability'] == 't']
last24_with_availability.shape

(14576, 24)

In [24]:
last24_with_availability['instant_bookable'].isnull().sum()

0